:root {
    --heading: 2.5rem; /* 40px */
    --subheading: 1.3125rem; /* 21px */
    --plan-title: 1.125rem; /* 18px */
    --plan-price: 3rem; /* 48px */
    --button: 0.875rem; /* 14px */
    /* description: 16px */

    /* ## color themes ## */
    --accent: #00cdac; /* turquoise */
    --prime-gdient: #3741a0; /* very dark cyon */
    --dark500: #4e4e4e; /* very dark grey */
    --light500: #e5e3e8; /* light greyish violet */
    --light400: #fafafa; /* very light grey - almost white */
    --bk-gdient: linear-gradient(130deg, #3741a0, #00cdac);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--dark500);
    font-weight: 400;
    font-size: 16px;
}

/* ## typography ## */
.section-title,
.plan .title,
.button {
    text-transform: uppercase;
}

.section-title {
    color: var(--accent);
    font-size: var(--heading);
    font-weight: 900;
}

.fs-500 {
    font-size: var(--subheading);
    font-weight: 300;
}

.plan .title {
    font-size: var(--plan-title);

}

.plan .price {
    font-size: var(--plan-price);
    font-weight: 900;
}

.plan .price span {
    font-size: calc(var(--plan-price) - 45%);
    display: block;
    font-weight: 300;
    line-height: 0.5em;
}

/* ### button ### */

.button {
    font-size: var(--button);
    font-weight: 900;
}

/* ----- layout ----- */

h1,
h2,
h3,
p {
    margin-top: 0;
}

.section-title {
    padding: 2em 0 0;
    margin-bottom: 0;
}

section {
    background-color: lightskyblue;
}

/* ### plans & team: general ### */

.bg_light {
    background-color: var(--light500);
    color: inherit;
}

.bg_dark {
    background-color: var(--dark500);
    color: var(--light400);
}

.bg_accent {
    background: var(--bk-gdient);
    color: var(--light400);
}

.fs-500 {
    padding: 0;
    margin: 0 0 0.5em;
}

.plans,
.team-members {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightyellow;
}
.team-members {
    flex-flow: row wrap;
    width: 6 0em;

}

.plan,
.team-member {
    box-sizing: border-box;    
}

.plan {
    width: 15em;   
    padding: 2em;
    border-radius: 2.5%;        
}
.team-member {
    display: flex;
    width: 25em;
    padding: 0.5em;
    border-radius: 5px;
}
.team-member img {
    width: 100%;
    max-width: 10em;
    border-radius: 5px;
}

.plan .title {
    margin-bottom: 1.5em;
}

.plan .price {
    margin-bottom: 0.75em;
}

.plan .description {
    margin-bottom: 2.25em;
}

/* ### button ### */
.button {
    background-color: var(--dark500);
    padding: 0.85em 1.25em;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: var(--light500);
}

.button:focus,
.button:hover {
    background-color: var(--accent);
}

/* ### button: modified ### */

.bg_accent .button {
    color: var(--dark500);
    background-color: var(--light400);
}

.bg_accent .button:focus,
.bg_accent .button:hover {
    color: var(--light400);
    background-color: var(--dark500);
}

.button_accent {
    background-color: var(--accent);
}


